.root {
    -fx-background-image: url('bg.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: #1d1d1d;
}

.wonGame{
	-fx-background-image: url('winbg.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: #1d1d1d;
}

.goldRoot {
    -fx-background-color: #4b4a08;
}

.label {
    -fx-text-fill: #FFF;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
}
